[Unit]
Description=Fix connection after power outage
After=homebridge.service 
Requires=homebridge.service                   

[Service]
WorkingDirectory=/home/alikadir
ExecStart=/bin/bash fix-connection.sh
ExecStop=/bin/bash -c "Fix connection service stopped. AKB"
Restart=on-failure
Type=simple
User=alikadir

[Install]
WantedBy=multi-user.target
